In [1]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:/Users/aviru/Documents/GITHUB REPOS/EYGDSHackspions-Team-Data-Nerd/scrapers/output.csv")

In [5]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1331400986481586176,1331400986481586176,2020-11-25 06:25:06 India Standard Time,2020-11-25,06:25:06,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1331247567041081345,1331247567041081345,2020-11-24 20:15:28 India Standard Time,2020-11-24,20:15:28,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1331214247955738624,1331214247955738624,2020-11-24 18:03:04 India Standard Time,2020-11-24,18:03:04,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1330737141794676736,1330737141794676736,2020-11-23 10:27:13 India Standard Time,2020-11-23,10:27:13,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1330282078223687686,1330282078223687686,2020-11-22 04:18:57 India Standard Time,2020-11-22,04:18:57,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1320135665242284033,1320135665242284033,2020-10-25 04:20:44 India Standard Time,2020-10-25,04:20:44,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
96,1320076502839459842,1320076502839459842,2020-10-25 00:25:38 India Standard Time,2020-10-25,00:25:38,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
97,1320009231903432704,1320009231903432704,2020-10-24 19:58:20 India Standard Time,2020-10-24,19:58:20,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
98,1320009047593156608,1320009047593156608,2020-10-24 19:57:36 India Standard Time,2020-10-24,19:57:36,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
99,1319814928010625024,1319814928010625024,2020-10-24 07:06:14 India Standard Time,2020-10-24,07:06:14,530,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN